version: 2.1

jobs:
  analyze:
    docker:
      - image: 'cimg/openjdk:25.0'
    steps:
      - checkout
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -DskipTests
  test:
    executor: machine_executor_amd64
    steps:
      - checkout
      - run:
          name: Maven Tests
          command: mvn test

executors:
  machine_executor_amd64:
    machine:
      image: ubuntu-2204:current
    environment:
      architecture: "amd64"
      platform: "linux/amd64"

workflows:
  build-and-deploy:
    jobs:
      - test
#      - analyze:
#          context: SonarCloud
